.table-col {
    min-width: 900px;
}

.add-button {
    max-width: 400px;
}

#side-select {
    max-width: 100px;
}

.selected-element {
    text-decoration: underline;
    color: green;
}

.action-button {
    color: grey;
    text-decoration: none;
}

.flip-button {
    font-size: 0.9em;
}

.delete-button {
    font-size: 1.25em;
}